{% extends "base.html" %}

{% block main %}
    {% for post in posts %}
        <div class="post">
            <h3><a href="/{{ post.url }}">{{ post.config.title }}</a></h3>
            <small>
                {{ post.date }}
                - Posted under:
                {% for c in post.categories %}
                    {% if not loop.last %}
                        {{ c }},
                    {% else %}
                        {{ c }}
                    {% endif %}
                {% endfor %}
            </small>
            {{ post.contents|truncate }}
        </div>
    {% endfor %}
{% endblock %}
